@import "fonts.css";

$mainBlueColor: #0066b1;
$mainBlueColorLight: #5492fe;
$mainRedColor: #dc0531;
$mainRedColorLight: #ff93aa;
html,
body {
	height: auto;
	background-color: #f0f0f0;
	font-family: 'Museo\ Sans';
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 40px;
}

.wrap > .container {
	padding: 20px 0px;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	margin: 0 auto;
	min-height: 80vh;

	.inner-index-container {
		padding: 10px 20px 20px;
		min-height: 80vh;
		background-color: cornflowerblue;
	}

	.inner-container {
		padding: 10px 20px 20px;
		margin-left: 200px;
		background-color: cornflowerblue;
		min-height: 80vh;
		border-top-left-radius: 8px;

		.row {
			margin-top: 20px;
		}

		.block-panel {
			background-color: #fff;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
			padding: 20px 15px 20px 15px;
			border-radius: 8px;
			overflow: hidden;
			.result {
				min-height: 300px;
			}

		}
		.block-panel.process {
			opacity: 0.60;
		}
		.content-header {
			width: 100%;

			h1 {
				font-size: 21px;
				letter-spacing: 1px;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
			}
		}
	}
}

.container.container-with-menu {
	@media (min-width: 768px) {
		width: 950px;
	}
	@media (min-width: 992px) {
		width: 1170px;;
	}
	@media (min-width: 1200px) {
		width: 1370px;;
	}
}

.left-menu {
	position: absolute;
	padding-top: 70px;
	background-color: transparent;
	min-width: 200px;
	min-height: 200px;
	line-height: 2.5;
	font-weight: bolder;

	ul {
		margin-left: -20px;
	}

	ul.main-menu li {
		text-transform: uppercase;
		color: $mainBlueColor;
		list-style-type: none;
	}

	ul.dop-menu li {
		font-size: 10px;
		color: $mainBlueColor;
		list-style-type: none;
		font-weight: lighter;
	}
	&.fixed {
		position: fixed;
		padding-top: 0px;
	}
}

.footer {
	min-height: 10vh;
	color: #fff;
	padding-top: 20px;
	background-color: $mainBlueColor;
	z-index: 10;

	.container {
		a {
			color: #fff;
		}

		line-height: 2;
	}
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/
			"\e151";
}

a.desc:after {
	content: /*"\e114"*/
			"\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;

}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
	padding: 15px;
	border: none;
}

@media(max-width: 767px) {
	.nav li > form > button.logout {
		display: block;
		text-align: left;
		width: 100%;
		padding: 10px 15px;
	}
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
	text-decoration: none;
}

.nav > li > form > button.logout:focus {
	outline: none;
}

.page-enter-active, .page-leave-active {
	transition: opacity .5s;
}

.page-enter, .page-leave-active {
	opacity: 0;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-widget {
	top: 20px;
	left: 0;
	position: absolute;
	background: transparent url('/images/loading.svg') center center no-repeat;
	opacity: .7;
	width: 100%;
	height: 100%;
	cursor: progress;
	z-index: 9999;
}

.banner-button {
	height: 60px;
	background: #dd1e26;
	font-weight: 700;
	color: #ffffff;
	background: -moz-linear-gradient(top, #dd1e26 0%, #9d1c20 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd1e26), color-stop(100%, #9d1c20));
	background: -webkit-linear-gradient(top, #dd1e26 0%, #9d1c20 100%);
	background: -o-linear-gradient(top, #dd1e26 0%, #9d1c20 100%);
	background: -ms-linear-gradient(top, #dd1e26 0%, #9d1c20 100%);
	background: linear-gradient(to bottom, #dd1e26 0%, #9d1c20 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd1e26', endColorstr='#9d1c20', GradientType=0);
	margin-top: 5px;
	font-size: 15px;
}

.hr-del-line {
	padding: 10px 30px 10px 30px;

	div {
		min-height: 2px;
		background-color: $mainBlueColor;
	}
}

.hr-del-line.inverse {
	padding: 10px 30px 10px 30px;

	div {
		min-height: 2px;
		background-color: #fff;
	}
}

.biletur-btn {
	background-color: $mainBlueColor;
	color: #fff;
	padding-top: 5px;
	border-radius: 8px;
}

.btn-default {
	border-color: $mainBlueColor;
	color: $mainBlueColor;
	font-weight: bolder;

	&:hover, &.focus {
		background-color: $mainBlueColor;
		color: #fff;
	}
}

.biletur-btn.inverse {
	background-color: #fff;
	color: $mainBlueColor;
}

.biletur-text-input {
	padding: 5px 10px 5px 10px;
	border-radius: 8px;
	border: 1px solid $mainBlueColor;
	color: $mainBlueColor;
	font-weight: bolder;
	margin-bottom: 5px;

	&.town-input {
		cursor: pointer;
		background: url(/images/geoloc_sm.jpg) no-repeat scroll 5px 4px;
		padding-left:30px;
	}
}

.call-center-block {
	color: $mainBlueColor;
}

.index-icons-block {
	display: inline-block;
	color: $mainBlueColor;
	font-weight: bolder;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	height: 210px;
	width: 100%;
	border-radius: 8px;
	cursor: pointer;
	text-transform: uppercase;
	transition-duration: 0.5s;

	img {
		transition-duration: 0.5s;
		margin-bottom: 40px;
		padding-top: 20px;
		width: 100px;
	}

	span {
		display: block;
	}
}

.index-icons-block:hover {
	z-index: 10;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);

	img {
		-moz-transform: scale(1.2) rotate(20deg);
		-webkit-transform: scale(1.2) rotate(20deg);
		-o-transform: scale(1.2) rotate(20deg);
		-ms-transform: scale(1.2) rotate(20deg);
		transform: scale(1.2) rotate(20deg);
	}
}

.banner-hr-block {
	font-weight: bolder;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	height: 270px;
	width: 100%;
	border-radius: 8px;
}

.column-5 .col-md-1 {
	width: 0%;
}

.column-5 .col-md-2 {
	width: 20%;
}

.hotel-description {
	font-size: 14px;
}

.tags .tag {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	color: #fff;
	padding: 4px 15px 5px;
	background-color: rgba(0,0,0,.25);
	text-decoration: none;
	-webkit-transition: color,background-color .3s;
	-o-transition: color,background-color .3s;
	transition: color,background-color .3s;
}

.tags .tag:hover{
	background-color: rgba(0,0,0,.99);
}

.tags .tag.active{
	background-color: $mainBlueColor;
	opacity: .75;
}

.rating-container .filled-stars {
	color:$mainBlueColorLight !important;
	white-space: nowrap;
	-webkit-text-stroke: 1px #fff !important;
	text-shadow: 1px 1px #999;
}
span {
	&.alphabet-letter {
		color: $mainRedColor;
		font-size: 22px;
		font-weight: bolder;
	}
}