.excursion-list {
	.row {
		margin-bottom: 40px;
	}
}

.excursion-block {
	padding: 0px 15px 0px 0px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);

	.name {
		margin-top: 15px;
		width: 1000px;

		a {
			color: #203f54;
			font-size: 26px;
			font-weight: bolder;
		}
	}

	.annotation {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 22px;
		color: #0066b1;
	}

	.rating {
		margin-top: 20px;

		.guide {
			a:hover {
				text-decoration: none;
			}

			display: inline;
		}

		.rating-container {
			margin-left: 100px;
			display: inline;
		}

		.review-count {
			color: #000;
			font-weight: bolder;
		}
	}

	.duration {
		position: absolute;
		top: 20px;
		right: 20px;
		border-radius: 5px;
		padding: 5px 10px 5px 10px;
		background-color: #e52634;
		color: #fff;
	}

	.price {
		position: absolute;
		bottom: 10px;
		left: 450px;
		font-weight: bolder;

		.current-price {
			font-size: 20px;
			color: #e52634;
		}

		.old-price {
			text-decoration: line-through;
		}
	}

	.schedule-block {
		position: absolute;
		bottom: 15px;
		right: 30px;

		.schedule {
			display: inline;
			background-color: #95bede;
			padding: 5px 10px 5px 10px;
			color: #0066b1;

			.time {
				color: #000;
			}
		}
	}

	.discount-label {
		position: absolute;
		top: -18px;
		left: 250px;
		width: 150px;
		height: 170px;
		text-align: center;
		background: url(/images/red-label.svg) no-repeat;
		color: #fff;
		font-size: 15px;
		font-weight: bolder;
		z-index: 99;
		padding-top: 25px;
		padding-left: 10px;
	}

	@media (min-width: 768px) {

	}
	@media (min-width: 992px) {

	}
	@media (min-width: 1200px) {

	}
}