.excursion-block {
	.rating {
		margin-top: 10px;
	}

	.duration {
		position: absolute;
		top: 150px;
		background-color: #5492FE;
		opacity: .9;
		color: #fff;
		font-weight: bolder;
		padding: 5px 10px 5px 10px;
	}

	.price {
		position: absolute;
		background-color: #4e555b;
		opacity: .7;
		color: #fff;
		font-weight: bolder;
		position: absolute;
		top: 200px;
		background-color: #5492FE;
		opacity: .9;
		color: #fff;
		font-weight: bolder;
		padding: 5px 10px 5px 10px;
	}
}