.excursion-block {
	.rating {
		margin-top: 10px;
	}

	.duration {
		position: absolute;
		background-color: #5492FE;
		opacity: .9;
		color: #fff;
		font-weight: bolder;
		padding: 5px 10px 5px 10px;
	}

	.price {
		position: absolute;
		background-color: #5492FE;
		opacity: .9;
		color: #fff;
		font-weight: bolder;
		padding: 5px 10px 5px 10px;
	}

	@media (min-width: 768px) {
		.price {
			top: 100px;
		}
		.duration {
			top: 50px;
		}
	}
	@media (min-width: 992px) {
		.price {
			top: 150px;
		}
		.duration {
			top: 100px;
		}
	}
	@media (min-width: 1200px) {
		.price {
			top: 200px;
		}
		.duration {
			top: 150px;
		}
	}
}